<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.185197969360-rgf3fessnm6ricdcmcm49rmahg0hui4a</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>184f80816000a867b2e25174b0a642a5</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
